<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<!-- Configura el logger utilizando el nivel de eventos internos en "warn" para registrar los mensajes 
	en consola. -->
<Configuration status="warn" strict="true">

	<Properties>
		<Property name="LOG_DIR">target/logs</Property>
	</Properties>

	<Appenders>

		<!-- Salida en consola -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%p] %c{10}.%t: %m%n" />
		</Console>

		<!-- Salida en archivo con transferencia -->
		<RollingFile name="RollingFile" fileName="${LOG_DIR}/server.log"
			filePattern="${LOG_DIR}/%d{yyyy-MM-dd}-server-%i.log.gz">
			<!-- Patron de conversion -->
			<PatternLayout>
				<!-- En el especificador de conversion "%-5p", -5 es el modificador de formato y p es el caracter 
					de conversion. -->
				<Pattern>%d %-5p %c{10}.%t: %m%n</Pattern>
			</PatternLayout>
			<!-- Politicas de renovacion -->
			<Policies>
				<!-- Solo tiene que ir una politica -->
				<!-- <TimeBasedTriggeringPolicy /> -->
				<SizeBasedTriggeringPolicy size="10 KB" />
			</Policies>
		</RollingFile>

	</Appenders>

	<!-- Configura los loggers para cada appender -->
	<Loggers>
		<!-- Indica el nombre del paquete que ejecuta el logger en el atributo name y establece la aditividad 
			en falso para que el root (padre del appender de la consola) no repita los mensajes. -->
		<Logger name="log" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="log" level="debug">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<!-- Nivel raiz -->
		<Root level="all">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>

</Configuration>
