<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<!-- Configura el log utilizando el nivel de eventos internos en "warn" para registrar los mensajes en 
	la consola. -->
<Configuration status="warn">

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

	</Appenders>

	<Loggers>

		<Logger name="log" level="debug" additivity="false"> <!-- El atributo name contiene el nombre del paquete que ejecuta el logger. -->
			<AppenderRef ref="Console" />
		</Logger>

		<!-- Agrega un nuevo logger para ejecutar los mensajes desde otro paquete y establece la aditividad 
			en falso para que el root (padre del appender de la consola) no repita los mensajes. -->
		<Logger name="_LABORATORIO" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="error"> <!-- Nivel de raiz -->
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>

<!-- https://logging.apache.org/log4j/2.x/manual/configuration.html -->